@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  /* colors */
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}

*,
* ::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Slate-300);
}
.main-container {
  width: 37rem;
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  box-shadow: 0rem 2rem 7rem rgba(115, 111, 111, 0.2);
  margin-block: 0 2rem;
}
.qr-code-container {
  background-image: url(images/empty-image.png);
  border-radius: 2rem;
  background-repeat: round;
  height: 32rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  text-align: center;
  align-self: center;
  width: 90%;
  margin-block: 2rem;
  font-size: 2.2rem;
}
.description {
  text-align: center;
  align-self: center;
  font-size: 1.8rem;
  width: 87%;
  font-weight: 200;
  margin-block: 0 2rem;
}
.link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-block: 3rem 0;
}
.link-label {
  font-size: 2rem;
  cursor: pointer;
}

.link-input {
  outline: none;
  padding: 1.3rem 1rem;
  width: 35rem;
  height: 4rem;
  border: none;
  border-left: 0.5rem solid transparent;
  border-radius: 0.5rem;
  transition: all 0.3s;
  font-size: 1.6rem;
}
.link-input::placeholder {
  font-size: 1.6rem;
}
.link-input:focus {
  border-left: 0.5rem solid var(--Slate-900);
}
.link-input:focus::placeholder {
  color: transparent;
}
.generate-btn {
  padding: 1rem 2rem;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  outline: 0.2rem solid transparent;
  transition: all 0.3s;
}
.generate-btn:hover {
  outline: 0.2rem solid blue;
  color: blue;
}
.generate-btn:active {
  transform: translateY(0.2rem);
}

@media (max-width: 400px) {
  html {
    font-size: 55.5%;
  }
}
